GEMINI_API_KEY="MY_GEMINI_API_KEY"

MONGODB_URI="mongodb+srv://USER:PASSWORD@CLUSTER.mongodb.net/?retryWrites=true&w=majority"
MONGODB_DB="jisort_dishi"

AWS_REGION="af-south-1"
AWS_ACCESS_KEY_ID="MY_AWS_ACCESS_KEY_ID"
AWS_SECRET_ACCESS_KEY="MY_AWS_SECRET_ACCESS_KEY"
S3_BUCKET_NAME="MY_S3_BUCKET"
S3_PUBLIC_BASE_URL="https://MY_S3_BUCKET.s3.amazonaws.com"

NEXT_PUBLIC_APP_URL="http://localhost:3000"
